/*contact page*/
<<<<<<< HEAD
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /*padding-top: 60px;*/
}
header {
    position: relative;
    width: 100%;
    min-height: 400px;
    padding-top: 3em;
    /*background: no-repeat lightgrey url(images/contact-hero.jpeg);
    background-size: 1550px;*/
        
    } 
.header-image {
        position: relative;
    }
    
.header-image img {
        display: block;
        width: 100%;
        height: auto;
    }
    
.header-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        width: 100%;
    }
    
.header-content h1 {
        font-size: 36px;
        /*background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
        padding: 20px; /* Padding around the text */
    }

.container {
        text-align: center;
        margin-top: 20px; /* Add space between header and paragraph */
    }

    .icon-row {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    
.icon-button {
        background: none;
        border: none;
        padding: 0;
        margin: 0 10px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out; /* Add transition effect */
    }
    
.icon-button:hover {
        transform: scale(1.1); /* Add scaling effect on hover */
    }
.main-header {
=======


/* locations */
.location-table {
    border-collapse: collapse;
    font-size: 3px;
    /* Set the font size */
}

.location-table td {
    border: none;
    padding: 10px;
    /* Set the cell size */
}

.highlighted {
    color: black;
    /* Set the background color for highlighted cells */
    font-size: 20px;
}

.normal {
    color: #55ACEE;
    /* Set the font color */
    font-size: 12px;
}


.location-table {
    border-collapse: collapse;
    font-size: 16px;
    color: #333;
}

.location-table td {
    border: none;
    padding: 12px;
}

.locations-help-container {
>>>>>>> ad950e402944a2cf4c9d85e691a84ac60437650f
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    padding: 0 20px;
    }
.logo {
    position: absolute;
    top: 1px;
    left: 20px;
    right: 20px;
    z-index: 1001;
}
.logo img { /*fish with splashes*/
    width: 175px;
    height: auto;
    padding-bottom: 40px;
}
.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 40px 150px;
    background-color: rgba(51, 52, 53, 0.8); /* Adjust background color and transparency as needed */
    z-index: 1000;
}

nav { /* words*/
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 40px 20px 150px;
    /*background-color: rgba(51, 52, 53, 0.8); /* Adjust background color and transparency as needed */
    z-index: 1000;
    
}

nav ul {
    list-style-type: none; /* Remove default list styles */
    margin: 0; /* Remove default margin */
    padding: 0px 80px 80px; /* Remove default padding */
    display: flex; /* Make the list items flex items */
    justify-content: space-around; /* Distribute items horizontally */
}

nav ul li {
    margin-right: 80px; /* Adjust margin-right to reduce spacing between list items */
}



nav ul li a {
    color: #fff; /* Text color of the navigation links */
    text-decoration: none; /* Remove underline from the links */
    font-size: 10px; /* Font size of the links */
}
nav ul li a span {
    padding: 8px 16px; /* Add padding to create button-like appearance */
    border: 2px solid #fff; /* Add border */
    border-radius: 4px; /* Add border radius for rounded corners */
}
nav ul li a:hover {
    text-decoration: underline; /* Underline the link on hover */
}
/*icons*/
.image-grid {
    display: flex;
    flex-wrap: wrap;
}
.image-container {
    width: 25%; /* Each image container takes up 25% of the container's width, allowing 4 images in each row */
    padding: 10px; /* Add spacing between images */
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
    text-align: center; /* Center the content horizontally */
    padding: -600px; /*space between images*/
    margin-top: 50px;
    
}

.image-container img {
    max-width: 100%; /* Ensure images don't exceed container width */
    height: auto; /* Maintain aspect ratio */
    max-height: 80px; /* Set a maximum height for all images */
    box-shadow: 0 0 0 2px rgb(244, 244, 238);
    
}
/*additional locations*/
.additional-locations {
    margin-top: 500px; /* Adjust the margin-top value as needed */
}
.additional-locations ul {
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.additional-locations ul li {
    display: inline-block; /* Display list items as inline-block */
    margin-right: 20px; /* Add spacing between list items */
}

.additional-locations ul li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}
/*Partners*/
.partner-icons {
    margin-top: 500px; /* Add some spacing between the additional locations and partner icons */
    margin-left: 50px;
    text-align: left;
    
}

.partner-icon {
    display: inline-block; /* Display partner icons as inline-block */
    margin-right: 20px; /* Add spacing between partner icons */
}

.partner-icon img {
    width: 50px; /* Set a specific width for the partner icons */
    height: auto; /* Maintain aspect ratio */
}

.partner-icon:last-child {
    margin-right: 0; /* Remove margin from the last partner icon */
}
/*slashes footer logo*/
.wave-img {
    position: relative;
    top: 100px; /* Adjust this value to move the image up or down */
    left: 10%; /* Center the image horizontally */
    transform: translateX(-50%); /* Center the image horizontally */
    z-index: 1; /* Ensure the wave image appears over the footer image */
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.footer {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: auto; /* Push the footer to the bottom of the page */
}

.footer-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the image is behind other content */ 
}

#copyright {
    text-align: right;
    padding-bottom: 100px;
    margin-right: 50px;
    margin-top: -50px;
}
.horizontal-line {
    border: none; /* Remove default border */
    border-top: 2px solid rgb(205, 198, 198); /* Set top border with desired thickness and color */
    width: 90%; /* Set width to 90% of the container's width */
    margin: 0 auto; /* Center the horizontal line */
}
/*social media icons*/
.social {
    display: flex;
    justify-content: center; /* Align icons horizontally at the center */
}

.social a {
    display: inline-block;
    margin: 0 10px; /* Add some spacing between icons */
    font-size: 24px; /* Adjust the icon size */
    color: #333; /* Adjust the icon color */
=======
}

.table-row {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 60px;
}

.table-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    text-align: center;
    width: 150px;
}

.svg-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-style: hidden;
    box-shadow: 2px 2px 2px 2px lightgrey;
    padding: 30px;
    margin-bottom: 10px;
>>>>>>> ad950e402944a2cf4c9d85e691a84ac60437650f
}