/* -------------------- Start of Adult Program -------------------- */
#adultprogram-header {
    min-height: 280px;
}

#adultprogram {
    background: no-repeat white url(./Project_1/images/lap-swimming.jpeg);
    background-size: 100% 500px;
}

#adultprogram .caption1 {
    font-family: "Bodoni Moda", serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

#adultprogram .adultpageinfo {
    font-size: 15px;
}

#adultprogram #findlapswim {
    text-decoration: underline;
    color: #03b1f4;
}

#adultprogram main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#adultprogram .textonbabyimg1 {
    color: white;
    text-align: center;
    font-family: "Bodoni Moda", serif;
    font-size: 70px;
    font-weight: bold;
}

#adultprogram .onimg1 {
    margin-top: 120px;
}

/* -------------------- End of Adult Program -------------------- */