body {
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 600px;
    /* Adjusted container width */
    margin: 200px auto;
    /* Added margin to center the container */
    padding: 20px;
    /* Added padding to create space between the content and the border */
    text-align: center;
    background-color: white;
    /* Added background color */
    border-radius: 10px;
    /* Added border-radius to make the form square-shaped */
    box-shadow: 0px 0px 50px black;
    /* Added box-shadow for the shadow effect */
}

input[type="text"],
input[type="password"],
input[type="submit"],
.signup-btn {
    width: calc(100% - 22px);
    /* Adjusted width to accommodate border and padding */
    padding: 20px;
    margin: 5px 0;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
}
 /* email/password*/
input[type="text"],
input[type="password"] {
    width: calc(100% - 22px);
    background-color: rgb(207, 203, 203);;
    border-radius: 5px;
}

input[type="submit"],
.signup-btn {
    width: calc(100% - 22px);
    
}
/*custom color for sign-in button  */
.custom-text-color {
    color: #fff;
}
input[type="submit"] {
    background-color: #37dde0;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
}

.signup-btn {
    background-color: white;
    color: #95e8ef;
    border: 2px solid #37dde0;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    
}


label {
    text-align: left;
    padding-left: 30px;
    color: red;
    display: block;
}

.forgot-password {
    text-align: right;
    padding-left: 400px;
    color: #37dde0;
}

.forgot-password-container {
    text-align: right;
    margin-top: 10px;
    /* Added margin to create space */
    margin-bottom: 100px;
}

.shark-img {
    position: absolute;
    left: 5%; /* Adjust the left position as needed */
    top: 5%; /* Adjust the top position as needed */
    transform: translate(-50%, -50%);
}

.splashwave-img {
    max-width: 100%; 
    height: auto; 
    display: inline-block; 
    
}
.splashwave-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -100px;
}
#buttons {
    display: flex;
}
.btn-rounded {
    border-radius: 20px; /* Adjust the value as needed */
}
/* Faded out button */
.btn-faded {
    opacity: 0.2; /* Adjust the opacity value (between 0 and 1) */
}
#buttons .btn {
   width:200px;
}
#password {
    border: none;
}
/* Custom class to make buttons the same size */
.custom-btn {
    width: 100%; /* Make buttons take up full width */
}
@media screen and (max-width: 1200px) {
h1{
        font-size: 32px;
}
    .textonbabyimg1 {
        font-size: 32px !important; 
    }
}
/* Add space between buttons on large screens */
@media (min-width: 992px) {
    .center-buttons {
        display: flex;
        justify-content: center;
    }
}